*{
    transition: 0.3s all;
    font-weight: 600;
    margin: 0 auto;
}
.hello{
    width: 200px;
    box-shadow: 0 3px 15px grey;
}
h3 {
    margin: 40px 0 0;
}
input{
    width: 185px;
    border: 1px solid #999;
    color: #243849;
    font-size: 18px;
    padding: 5px;
    text-align: right;
}
input[type='radio'],
input[type='checkbox']{
    display: inline-block;
    width: 25px;
    margin: 0;
}
label{
    margin: 0;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.cell{
    flex: 33%;
    height: 50px;
    font-size: 18px;
    border: none;
}
.cell:hover{
    background-color: #182530;
}
.num{
    background-color: #243849;
    color: #fff;
    font-weight: 400;
}
.op{
    background-color: #ff9900;
    color: #243849;
}
.op:hover{
  color: white;
}
.radio{
    display: flex;
    text-align: left;
}
.result{
    padding: 15px;
}